:root {
  --secondary-color: #005065;
  --surface-variant: #E7E0EC;
  --on-surface: #1D1A22;
  --on-secondary: #fff;
  --inverse-surface: #322F37;
  --opacity-8: rgba(29, 26, 34, 0.2);
}

.sidebar {
  width: 18%;
  background-color: var(--surface-variant);
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px 5px;
  width: 50px;
}

.sidebar .navbar .navbar-item {
  list-style-type: none;
  padding: 0;
}

.sidebar .navbar .navbar-item .item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--on-surface);
}

.sidebar .navbar .navbar-item .item i.icon {
  display: inline-block;
  width: 20px;
  /* Tamanho do ícone */
  height: 20px;
  margin-right: 10px;
  /* Espaço entre o ícone e o texto */
}

.sidebar .navbar-item .item img {
  max-width: 100%;
  height: auto;
}

.sidebar .navbar .navbar-item .item.active {
  background-color: var(--secondary-color);
  color: var(--on-secondary);
  font-weight: 700;
}

.sidebar .navbar .navbar-item .item:hover {
  background-color: var(--opacity-8);
  color: var(--inverse-surface);
}