:root {
  --secondary-color: #005065;
  --surface-variant: #E7E0EC;
  --on-surface: #1D1A22;
  --on-secondary: #fff;
  --inverse-surface: #322F37;
  --opacity-8: rgba(29, 26, 34, 0.2);
  --on-surface-variant: #4A4453;
}
 
.sidebar {
  width: 18%;
  background-color: var(--surface-variant);
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
}
 
.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px 5px;
  width: 50px;
}
 
.sidebar .navbar .navbar-item {
  list-style-type: none;
  padding: 0;
}
 
.sidebar .navbar .navbar-item .item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--on-surface);
}
 
.sidebar .navbar .navbar-item .item i.icon {
  display: inline-block;
  margin-right: 10px;
  /* Espaço entre o ícone e o texto */
  justify-content: center;
  align-items: center;
}
 
.sidebar .navbar-item .item img {
  max-width: 100%;
  height: auto;
}
 
.item {
  cursor: pointer; /* Para indicar que o item é interativo */
  transition: color 0.3s ease; /* Transição suave */
}
 
.item:hover .icon svg path {
  fill: var(--on-surface-variant); /* Cor de destaque no hover */
}
 
.sidebar .navbar .navbar-item .item:hover {
  background-color: var(--opacity-8);
  color: var(--inverse-surface);
}
 
.item:focus .icon svg path {
  fill: var(--on-secondary);
}
 
.sidebar .navbar .navbar-item .item:focus {
  outline: none; /* Remove o contorno padrão */
  background-color: var(--secondary-color);
  color: var(--on-secondary);
}
 
.sidebar .navbar .navbar-item .item:focus .icon svg path {
  fill: var(--on-secondary); /* Cor no estado de foco */
}