:root {
    --surface-variant: #E8DFF1;
    --surface: #E7E0EB;
    --on-surface: #49454E;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header input {
    width: 80%;
    height: 36px;
    border-radius: 16px;
    border: none;
    background-color: var(--surface-variant);
    padding: 16px;
    margin: 0 20px;
}

.nav-perfil {
    display: flex;
    align-items: center;
    margin: 0;
    width: 20%;
    height: 10%;
}

.nav-perfil .drop-dawn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-perfil .drop-dawn button svg {
    margin: 0 2px;
    position: relative;
}

.nav-perfil .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-perfil .profile-container img {
    width: 36px;
    height: 36px;
    margin: 0 8px;
}

.nav-perfil .profile-container h5 {
    font-weight: 200;
    margin: 0 8px;
}

.nav-perfil .menu-perfil .ul-perfil {
    margin-top: 8px;
    list-style-type: none;
    position: absolute;
    background-color: var(--surface);
    width: 10%;
    border: 0.5px solid var(--on-surface);
    border-radius: 8px;
    padding: 16px;
    display: none;
}

.nav-perfil .menu-perfil .ul-perfil li a {
    text-decoration: none;
    color: var(--on-surface);
    display: flex;

}

.nav-perfil .menu-perfil .ul-perfil li svg {
    margin: 0 8px;
    cursor: pointer;
}

.arrow {
    transition: transform 0.3s ease; /* Animação suave */
}

.arrow.rotated {
    transform: rotate(180deg); /* Gira a seta para cima */
}